[Unit]
Description=Firewalld UI Application
After=network.target firewalld.service

[Service]
Type=simple

# This ensures commands run inside /usr/local/src/Firewalld-UI
WorkingDirectory=/usr/local/src/Firewalld-UI

# If you have a node/.node_paths file, let systemd read it. The leading dash (-) 
# means "ignore if missing."
EnvironmentFile=-/usr/local/src/Firewalld-UI/shell/node/.node_paths

ExecStart=/bin/bash /usr/local/src/Firewalld-UI/shell/startup.sh systemd
ExecStop=/bin/bash /usr/local/src/Firewalld-UI/shell/stop-all.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target