[Unit]
Description=Firewalld UI Application
After=network.target firewalld.service

[Service]
Type=forking
User=root
WorkingDirectory=/workspaces/Firewalld-UI # Placeholder, will be replaced by startup.sh
ExecStart=__NPM_EXEC_PATH__ start # Placeholder for npm executable, will be replaced by startup.sh
PIDFile=%H/run/egg-server.pid # %H will be replaced by the WorkingDirectory in startup.sh
Restart=always
RestartSec=10
Environment=NODE_ENV=production

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target